@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Italic.ttf');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Source;
  src: url('../fonts/SourceSerifPro-Regular.ttf');
  font-weight: normal;
}


@keyframes transition {
  0% {
    transform: translateX(-30px);
    opacity: 0;
    pointer-events: none;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
  45% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
  55% {
    transform: translateX(0);
    opacity: 0;
    pointer-events: none;
    
  }
  100% {
    transform: translateX(0);
    opacity: 0;
    pointer-events: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: 'Source', serif;
  font-size: 20px;
  overflow: hidden;
  background: #000;
}

#wrapper {
  width: 100%;
  height: 100vh;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  transition: all 700ms ease-in-out;
}

#wrapper.black {
  opacity: 0;
  background: rgba(0, 0, 0, 1);
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1002;
}

.background-container {
  position: absolute;
  display: block;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: -1000;
  background-color: #000;
  overflow: hidden;
}
.background-container.mute {
  display: none;
}

.background-video {
  display: none;
}
.background-video.visible {
  display: block;
}

#background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat-x;
  opacity: 0.3;
}

video {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }  
}
@media screen and (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }  
}

.slide.mute {
  display: none;
}

#slide-intro,
#slide-vers {
  opacity: 0;
  transform: translate(-100px);
  animation-name: transition;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#slide-intro {
  z-index: 100;
}

#vers-container,
#intro-container {
  position: absolute;
  width: 80%;
  height: 80vh;
  margin: 10vh 10%;
  padding: 100px;
  color: #fff;
  display: block;
}

#intro-container > #intro-title > h1 {
  text-align: center;
  margin-bottom: 6vh;
  line-height: 1.2;
}
#intro-container > #intro-subtitle > h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
}

.logo {
  position: absolute;
  bottom: 20px;
  right: 100px;
}

.logo > img {
  width: 200px;
  margin: 50px auto 0;
}

#vers-container {
  border-bottom: 2px solid #fff;
}

.vers {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  font-size: 1.35em;
  display: block;
  text-align: left;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.monatsvers,
.datum-titel {  
  font-family: 'Roboto', sans-serif;
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: block;
  font-size: 24px;
  text-align: left;
  color: #ccc;
}

#timer {
  position: absolute;
  bottom: 15px;
  left: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 200ms ease;
}

#timer.active {
  opacity: 1;
}

#timer.active.big {
  font-family: 'Source', serif;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 24, 43, 0.9);
  font-size: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}

#options-button {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  z-index: 1000000;
  transition: opacity 250ms ease;
}

#options-button:hover,
#options-button.active {
  background: rgba(0, 24, 43, 0.2);
  box-shadow: 0 2px 8px rgba(0, 24, 43, 0.4);
  opacity: 1;
}

#options-button > img {
  width: 50px;
  padding: 5px 10px;
  transition: transform 200ms ease-in-out;
}

#options-button > img#open-options:hover {
  transform: rotate(90deg);
}

#options-button > img#open-blackscreen:hover,
#options-button > img#open-fullscreen:hover {
  transform: scale(1.1);
}

.modal {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 24, 43, 0.5);
  opacity: 0;
  transition: opacity 250ms ease;
}

.modal.visible {
  pointer-events: all;
  opacity: 1;
}

.modal .opt-box {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 100%;
  background-color: #dadada;
  background: linear-gradient(160deg, #fafafa, #ccc);
  padding: 20px 20px 60px 40px;
  box-shadow: 4px 0 8px rgba(0, 24, 43, 0.2);
  transform: translateX(500px);
  transition: transform 200ms ease-in;
}

.modal.visible .opt-box {
  transform: translateX(0);
}

.modal .opt-box p.opt-tablink {
  display: inline-block;
  color: #999;
  line-height: 1.5;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 200ms ease;
}
.modal .opt-box p.opt-tablink:hover {
  color: #fff;
  background: #999;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 50, 0.1);
}
.modal .opt-box p.opt-tablink.active {
  font-weight: bold;
  color: #444;
  background: #fdfdfd;
  box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.1);
}

.modal .opt-box .opt-tabs {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow-y: auto;
}

.modal .opt-box .opt-tabs .opt-tab {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #fdfdfd;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
}

.modal .opt-box .opt-tabs .opt-tab.active {
  opacity: 1;
  pointer-events: all;
}


.modal .opt-box h2.opt-header {
  display: block;
  width: 100%;
  line-height: 2;
  font-size: 1.8em;
  color: #999;
}

.modal .opt-box .opt-tab h4 {
  display: block;
  width: 100%;
  margin-top: 5px;
  color: #479;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2;
}

.modal .opt-box .opt-tab p#intro,
.modal .opt-box .opt-tab p#outro {
  display: inline-block;
  cursor: pointer;
}

.modal .opt-box .input-grp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0 10px;
}

.modal .opt-box .full-width {
  width: 100%;
}
.modal .opt-box .half-width {
  width: 49%;
}
.modal .opt-box .third-width {
  width: 32%;
}

.modal .opt-box label {
  display: block;
  width: 49%;
  line-height: 1.6;
  font-size: 0.8em;
  color: #999;
}

.modal .opt-box input {
  display: block;
  margin: 5px 0 10px;
  padding: 5px 0;
  color: #000;
  background: inherit;
  border-bottom: 1px solid #ccc;
}

.modal .opt-box input:focus {
  color: #029;
  font-weight: bold;
  border-bottom: 1px solid #08f;
  outline: none;
}

.modal .opt-box input[type="checkbox"] {
  width: 20px;
}

.modal .opt-box .button-grp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal .opt-box .button-grp > .prst-btn {
  display: block;
  font-size: 1em;
  color: #444;
  padding: 10px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal .opt-box .button-grp > .opt-btn {
  display: block;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.modal .opt-box .button-grp > .opt-btn#opt-save {
  background-color: rgb(0, 170, 40);
}
.modal .opt-box .button-grp > .opt-btn#opt-cancel {
  background-color: #444;
}

.modal .opt-box .button-grp > .opt-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.modal .anweisungen {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  background: rgba(0, 24, 43, 0.59);
}

.modal .anweisungen > p {
  font-size: 80%;
  color: #dadada;
}